<div id="admin-subject" class="row-fluid">
  <%= form_for [:admin, @subject] do |f| %>
    <fieldset>
      <legend>Subject</legend>

      <div class="row-fluid">
        <div class="span7 offset2">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, placeholder: "Subject name" %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span1 offset2">
          <%= f.label :duration, "Duration" %>
          <%= f.text_field :duration, placeholder: "Day" %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span7 offset2">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, placeholder: "Descriptions" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Tasks</legend>

      <div class="row-fluid">
        <div class="span7 offset2">
          <ul id="sortable">
            <% if @subject.tasks.active.any? %>
              <% @subject.tasks.active.sort_asc.each do |task| %>
                <li class="ui-state-default<%= ' old-task' if task.id.present? %>">
                  <div class="input-append-box">
                    <div class="first">
                      <input type="text" class="task-name" placeholder="Task name" name="tasks[][name]" value="<%= task.name %>" />
                      <input type="hidden" class="task-id" name="tasks[][id]" value="<%= task.id %>" />
                      <input type="hidden" class="task-sort" name="tasks[][sort_index]" value="<%= task.sort_index %>" />
                    </div>
                    <div class="second">
                      <button class="btn btn-large remove-task" type="button">
                        &times;
                      </button>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
            <li class="last ui-state-disabled">
              <button id="add-task" type="button" class="btn btn-large btn-success">
                ADD TASK!
              </button>
            </li>
          </ul>
        </div>
      </div>
    </fieldset>

    <div class="center">
      <%= f.submit "Save subject", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>

<div id="original-template" style="display: none;">
  <li class="ui-state-default">
    <div class="input-append-box">
      <div class="first">
        <input type="text" class="task-name" placeholder="Task name" name="tasks[][name]" />
        <input type="hidden" class="task-id" name="tasks[][id]" />
        <input type="hidden" class="task-sort" name="tasks[][sort_index]" />
      </div>
      <div class="second">
        <button class="btn btn-large remove-task" type="button">
          &times;
        </button>
      </div>
    </div>
  </li>
</div>

<script>
 function reIndex() {
    $('.ui-state-default:visible').each(function(index, item){
      $(item).find('.task-sort').val(index + 1);
    });
  }
  $(function() {
    $("#sortable").sortable({
      items: "li:not(.ui-state-disabled)",
      cursor: 'move',
      update: reIndex
    });
    
    $('#add-task').click(function(){
      var html = $('#original-template').clone().html();
      $(html).insertBefore('#sortable .last');
      reIndex();
    });
    
    $('body').on("click", '.remove-task', function(){
      var parent = $(this).closest('li');
      if ($(parent).hasClass('old-task')) {
        $(parent).removeClass('old-task').addClass('deleted');
        $(parent).find('.first').append($('<input type="hidden" class="task-sort" name="tasks[][active_flag]" value="<%= Settings.flag.inactive %>" />'));
      } else {
        $(parent).remove();
      }
    });
  });
</script>