<h1 class="page-title"><%= @subject.name %>
<% if @enrollment_subject.done? %>
  <span class="completed">(Completed)</span>
<% else %>
  <%
    finish_msg = @enrollment_subject.all_task_finished? ? "Finish this subject?" :
      "You don't finish some task. Do you still want finish this subject?"
  %>
  <%= link_to "Finish Subject", trainee_enrollment_enrollment_subject_path, method: :patch, confirm: finish_msg, class: "btn small btn-primary" %>
<% end %>
</h1>
<%= render "shared/error_messages" %>
<% if current_trainee? @trainee %>
  <h2>Subject progress</h2>
  <%= render "task_list" %>
  <h2>Basic information</h2>
  <p>Subject <%= get_start_date(@enrollment_subject) %></p>
  <h2>Instruction </h2>
  <p><%= @subject.description %></p>
  <h2>Activity log</h2>
  <%= render "shared/activities" %>
<% end %>