<h1 class="page-title"><%= @subject.name %>
<% if @enrollment_subject.done? %>
  <span class="completed">(Completed)</span>
<% else %>
  <%= link_to "Finish Subject", user_enrollment_enrollment_subject_path, 
    method: :patch, class: "btn small btn-primary" %>
<% end %>
</h1>
<%= render "shared/error_messages" %>
<% if current_user? @user %>
  <h2>Subject progress</h2>
  <%= render "task_list" %>
  <h2>Basic information</h2>
  <p>Subject <%= get_start_date(@enrollment_subject) %></p>
  <h2>Instruction </h2>
  <p><%= @subject.description %></p>
  <h2>Activity log</h2>
  <%= render "shared/activities" %>
<% end %>