<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <h2>
        email: <%= @user.email %>
        <% if current_user? @user %>
          <%= button_to "Edit Profile", edit_user_path, method: :get, class: "btn btn-primary" %>
        <% end %>
      </h2>
    </section>
  </aside>
</div>
<div class="span8">
  <% if @subjects.any? %>
    <h3> Subjects (<%= @subjects.count %>)</h3>
    <ul class="activities">
      <% @subjects.each do |subject| %>
        <li>
          <%= subject.name %>
          <h2> Started at: <%= subject.start_date %> ,
            <%= subject.enrollment_tasks.where(status: "done").count %> /
            <%= subject.enrollment_tasks.count %> tasks done
            <%= subject.status %> 
          </h2>  
        </li>
      <% end %>
    </ul>
    <% end %>
    <%= will_paginate @subjects %>
    <% if current_user? @user %>
    <%= render "shared/activities" %>
  	<%= link_to "Sign out", signout_path, method: "delete" %>
  	<%= render "activate" %>
  <% end %>
</div>
