<h1>Your course: <%= current_course.name %></h1>
<h2>Course Progress</h2>
<ul class="milestones">
  <% @enrollment_subjects.each do |enrollment_subject| %>
    <li class="<%= enrollment_subject.status %>" 
      title="Duration: <%= pluralize enrollment_subject.subject.duration, "day" %>">
      <div class="milestone-name">
      <%= link_to enrollment_subject.subject.name, trainee_enrollment_enrollment_subject_path(current_trainee, @enrollment, enrollment_subject) %>
      </div>
      <div class="milestone-status">
      <%= link_to "✓", trainee_enrollment_enrollment_subject_path(@current_trainee, @enrollment, enrollment_subject) %>
      </div>
      <div class="line-linkage">  </div>
    </li>
  <% end %>
</ul> 
<div class="center">
  <%= render "activate" %>
</div>
<div class="span8">  
  <h2>Course Introduction
    <span id="intro_toggle_btn" class="btn btn-primary small">Hide</span>
  </h2>
  <div id="intro">
    <% I18n.locale = :vi %>
    <%= t "course_intro.text_html", trainee: current_trainee.name,
      doc_link: t("course_intro.doc_link"), 
      duration: (distance_of_time_in_words(current_course.start_date, current_course.end_date)), 
      start_date: l(current_course.start_date),
      end_date: l(current_course.end_date), 
      test_date: l(current_course.end_date + 1.day) %>
  </div>
  <h2>Activity log</h2>
  <%= render "shared/activities" %>
  <%= will_paginate @activities %>
</div>
<div class="span3">
  <h2>In the same course</h2>
  <%= render "shared/show_trainee" %>
</div>
<script>
  $(function(){
    if (<%= @enrollment.activated? %>) {
      $("#intro").hide();
      $("#intro_toggle_btn").text("Show");
    }

    $("#intro_toggle_btn").click(function() {
      $("#intro").toggle("slow");
      $(this).text() == "Hide" ? $(this).text("Show") : $(this).text("Hide");
    });
  })
</script>
