<h1 class="offset1 pull-left">Add trainee</h1>

<div class="row">
  	<div class="span6 offset1">
    	<%= form_for [:admin, @trainee] do |f| %>

		<%= render "shared/error_messages" %>
		
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	      
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	
	    <%= f.label :password_confirmation, "Password Confirmation" %>
	    <%= f.password_field :password_confirmation %>
	
	    <%= f.submit "Add trainee",class: "btn btn-large btn-primary" %>
    	<% end %>
  	</div>
</div>