<h2>All Users</h2>
<ul class="user-sidebar">
	<li class="sub-list">
		<h3 class="list-header">
			<%= link_to "Supervisors", "javascript: void(0);" %>
			(<%= all_supervisors.count %>)
			<b class="caret"></b>
		</h3>
		<ul>
			<% all_supervisors.each do |sup| %>
			<li>
				<%= gravatar_for sup, size: 30 %>
				<%= link_to sup.name, admin_supervisor_path(sup), class: "user-name" %>
			</li>
			<% end %>
		</ul>
	</li> 
	<% all_courses.each do |course| %>
	<li class="sub-list closed">
		<h3 class="list-header">
			<%= link_to course.name, "javascript: void(0);" %>
			(<%= course.users.count %>)
			<b class="caret"></b>
		</h3>
		<ul>
			<% course.users.each do |user| %>
			<li>
				<%= gravatar_for user, size: 30 %>
				<%= link_to user.name, user, class: "user-name" %>
			</li>
			<% end %>	
		</ul>
	</li>
	<% end %>
</ul>

<script>
	$(function(){
		$(".sub-list").click(function() {
			$(this).toggleClass("closed");
		});
  })
</script>