<h2><%= link_to "Supervisors", admin_supervisors_path, class: "btn btn-primary" %></h2>

<ul class="user-sidebar">
	<li class="sub-list">
		<h3 class="list-header">
			<%= link_to "All Supervisors", "#", class: "non-redirect" %>
			<b class="caret"></b>
		</h3>
		<ul>
			<% all_supervisors.each do |sup| %>
			<li>
				<% if sup.active_flag == 1 %>
					<%= gravatar_for sup %>
					<%= link_to sup.name, admin_supervisor_path(sup), class: "user-name" %>
				<% end %>
			</li>
			<% end %>
		</ul>
	</li>
</ul>
<h2>Courses</h2>
<ul class="user-sidebar">
	<li class="sub-list closed">
		<h3 class="list-header">
			<%= link_to "No course", "#", class: "non-redirect" %>
			(<%= Trainee.not_in_active_course.count %>)
			<b class="caret"></b>
		</h3>
		<ul>
			<% Trainee.not_in_active_course.each do |trainee| %>
			<li>
				<%= gravatar_for trainee %>
				<%= link_to trainee.name, admin_trainee_path(trainee), class: "user-name" %>
			</li>
			<% end %>
		</ul>
	</li>
	<% all_courses.each do |course| %>
	<li class="sub-list closed">
		<h3 class="list-header">
			<%= link_to course.name, "#", class: "non-redirect" %>
			(<%= course.trainees.count %>)
			<b class="caret"></b>
		</h3>
		<ul>
			<% course.trainees.each do |trainee| %>
			<li>
				<%= gravatar_for trainee %>
				<%= link_to trainee.name, admin_trainee_path(trainee), class: "user-name" %>
			</li>
			<% end %>
		</ul>
	</li>
	<% end %>
</ul>

<script>
	$(function(){
		$(".sub-list").click(function() {
			$(this).toggleClass("closed");
		});
  })
</script>