<% provide :title, "All trainees" %>
<h1><%= yield :title %></h1>
<h3>Courses:
  <%= select_tag "course_id", options_from_collection_for_select(@courses, "id", "name", params["course_id"]), include_blank: true, id: "course_select", class: "courses" %>
</h3>
<ul class="users">
  <% @users.each do |user| %>
  <li>
    <%= gravatar_for user %>
    <div class="user-info">
      <h3>
        <%= link_to user.name, admin_user_path(user) %>
        <%= link_to "delete", user, method: :delete, confirm: "Are you sure?", title: "Delete #{user.name}", class: "link-danger" %>
      </h3>
      <% if user.free? %>
        No course joined<br>
      <% else %>
        Course: <%= link_to user.current_course.name, [:admin, current_supervisor, user.current_course] %><br>
        Status: <%= t "status.#{user.current_enrollment.status}" %><br>
        Subjects:<%= user.current_enrollment.enrollment_subjects.finished_subject.count %> / <%= user.current_course.subjects.count %><br>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>
<%= will_paginate %>
<script>
  $(function() {
    $('#course_select').change(function() {
      if($(this).val()) {
        window.location.href = '<%= admin_users_path %>?course_id=' + $(this).val();
      } else {
        window.location.href = '<%= admin_users_path %>';
      }
    });
  });
</script>