<% provide :title, "Trainee Profile: #{@user.name}" %>

<h1>
  <%= gravatar_for @user, css_class: "admin" %>
  <%= @user.name %>
</h1>

<div class="dashboard-sector">
  <h2>User information</h2>
  <div class="command">
    <%= link_to "Edit Profile", "#", class: "btn btn-large btn-primary" %>
  </div>
  <div class="content">
    <p>Email: <%= @user.email %> </p>
    <% if @enrollment.enrollment_subjects.any? %>
      <p>In course: <%= link_to @course.name, admin_supervisor_course_path(current_supervisor, @course) %> 
        (from <%= l(@course.start_date) %> to <%= l(@course.end_date) %>) </p>
      <p>Course status: <%= @enrollment.status %></p>
    <% else %>
      <p>No course joined.</p>
    <% end %>
  </div>
</div>

<div class="dashboard-sector">
  <h2>
    Training Progress 
    (<%= @enrollment.enrollment_subjects.subject_done.count %> / <%= @enrollment.enrollment_subjects.count %>
    subjects finished)
  </h2>
  <% if @enrollment.enrollment_subjects.any? %>
  <table>
    <% @enrollment.enrollment_subjects.each do |enrollment_subject| %>
    <tr>
      <td class="subject-info">
        <h4><%= link_to enrollment_subject.subject.name, user_enrollment_enrollment_subject_path(@user.id,
          enrollment_subject.enrollment_id, enrollment_subject.subject.id) %></h4>
        <p><%= "#{l(enrollment_subject.start_date)} - #{l(enrollment_subject.end_date)}" %></p>
        <p class="status">
          <%= enrollment_subject.status %>
        </p>
      </td>
      <td>
        <ul class="tasks-sup">
          <% enrollment_subject.enrollment_tasks.each do |enrollment_task| %>
          <li class="<%= enrollment_task.status %>"><%= enrollment_task.task.name %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>

<h2>Activity log</h2>
<%= render "shared/all_activities" %>
<%= will_paginate @activities %>
