<fieldset>
	<legend>Course Info</legend>
	<div class="span4 offset2">
		<%= f.label :name, "Course Name" %>
		<%= f.text_field :name %>

		<%= f.label :start_date, "Start Date" %>
		<%= f.text_field :start_date, value: l(DateTime.now), class: "date-field" %>

		<%= f.label :end_date, "End Date" %>
		<%= f.text_field :end_date, value: l(DateTime.now), class: "date-field" %>
	</div>
</fieldset>