<fieldset>
  <legend>Choose Subject(s)</legend>
  <table>
    <tr>
      <th>Subject</th>
      <th>Duration (days)</th>
      <th>Choose Tasks</th>
    </tr>
    <%= f.fields_for :course_subjects, @course.full_course_subjects do |builder| %>
    <tr>
      <td>
        <%= builder.check_box :chosen, {class: "subject", checked: builder.object.chosen}, true, false %>
        <%= builder.object.subject.name if builder.object.subject_id %>
      </td>
      <td class="subject-duration">
        <%= builder.hidden_field :subject_id, value: builder.object.subject_id %>
        <%= builder.number_field :duration, value: builder.object.subject.duration, in: 1..30 %>
      </td>
      <td class="subject-tasks">
        <ul class="tasks-sup">
          <%= builder.fields_for :course_subject_tasks, builder.object.full_course_subject_tasks do |sub_builder| %>
          <li>
            <%= sub_builder.check_box :chosen, {checked: sub_builder.object.chosen}, true, false %>
            <%= sub_builder.object.task.name if sub_builder.object.task_id %>
            <%= sub_builder.hidden_field :task_id, value: sub_builder.object.task_id %>
            <%= sub_builder.hidden_field :subject_id, value: builder.object.subject_id %>
          </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% end %>
  </table>
</fieldset>