<% provide :title, "All courses" %>

<h1>
	<%= yield :title %>
	<small>( <%= @courses.count %> )</small>
</h1>

<%= link_to "Add new", new_admin_supervisor_course_path, class: "btn btn-primary small right above-table" %>
<div class="center">
	<table>
		<tr>
			<th> # </th>
			<th> Course </th>
			<th> Started on </th>
			<th> Duration </th>
			<th> Subjects </th>
			<th> Trainees </th>
			<th> Status </th>
			<th> Action </th>
		</tr>
		<% @courses.each_with_index do |course, i| %>
			<tr>
				<td><%= item_index i %></td>
				<td><%= link_to course.name, [:admin, current_supervisor, course] %></td>
				<td><%= l course.start_date %></td>
				<td><%= pluralize course.duration, "day" %></td>
				<td><%= course.subjects.count %></td>
				<td><%= course.users.count %></td>
				<td><%= course.status %></td>
				<td>
					<%= link_to "edit", [:edit, :admin, current_supervisor, course], class: "btn btn-primary small" %>
					<%= link_to "delete", [:admin, current_supervisor, course], method: :delete, confirm: "Are you sure?", class: "btn btn-danger small" %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate %>
</div>