<% provide :title, "All courses" %>

<h1>
	<%= yield :title %>
	<small>( <%= @courses.count %> )</small>
	<%= link_to "Add new", "#", class: "btn btn-primary small" %>
</h1>

<div class="center">
	<table>
		<tr>
			<th> # </th>
			<th> Course </th>
			<th> Started on </th>
			<th> Duration </th>
			<th> Subjects </th>
			<th> Trainees </th>
			<th> Status </th>
			<th> Action </th>
		</tr>
		<% @courses.each_with_index do |course, i| %>
			<tr>
				<td><%= item_index i %></td>
				<td><%= link_to course.name, course %></td>
				<td><%= l course.start_date %></td>
				<td><%= pluralize course.course_duration, "day" %></td>
				<td><%= course.subjects.count %></td>
				<td><%= course.users.count %></td>
				<td><%= course.status %></td>
				<td><%= link_to "edit", "#", class: "btn btn-primary small" %>
						<%= link_to "delete", course, method: :delete,
							confirm: "Are you sure?", class: "btn btn-danger small" %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate %>
</div>