<% provide(:title, "Add new course") %>
<h1>Add a new course</h1>

<div class="span9">
  <%= form_for [:admin, @supervisor, @course] do |f| %>
    <%= render "shared/course_error_messages" %>
    <%= render "basic_form", f: f %>
  	<%= render "create_form", f: f %>
    <div class="center">
      <%= f.submit "Create course", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>