<% provide(:title, "Add new course") %>
<h1>Add a new course</h1>

<div class="span9">
  <%= form_for [:admin, @supervisor, @course] do |f| %>
    <%= render "shared/course_error_messages" %>
    <%= render "basic_form", f: f %>
  	<%= render "create_form", f: f %>
    <div class="center">
      <%= f.submit "Create course", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>

<script>
	$('.subject').click(function() {
		if($(this).is(':checked')) {
	  	$(this).closest('tr').find('td.subject-duration').find('input').show();
	  	$(this).closest('tr').find('td.subject-tasks').find('ul').show();
	  }
		else {
	  	$(this).closest('tr').find('td.subject-duration').find('input').hide();
	  	$(this).closest('tr').find('td.subject-tasks').find('ul').hide();
	  }
	});
</script>