<% provide :title, "All users" %>
<h1><%= @course.name %></h1>
<div class="dashboard-sector">
  <h2>Course information</h2>
  <div class="command">
    <%= render "start_course" %>
  </div>
  <div class="content">
    <p>Duration: <%= pluralize @course.duration, "day" %> 
      (from <%= "#{ l @course.start_date } to #{ l @course.end_date }" %> )</p>
    <p>Status: <span class="course-status <%= @course.status %>"><%= @course.status %></span></p>
  </div>
</div>

<h2> Subjects </h2>
<table>
  <% @course.course_subjects.each do |course_subject| %>
  <tr>
    <td class="subject-info">
      <h4><%= course_subject.subject.name %></h4>
      <p>
        <% if course_subject.start_date.present? %>
          <%= "#{l course_subject.start_date} - " %>
          <% if course_subject.duration.present? %>
            <%= l course_subject.finish_date %>
          <% else %>
            End date not given
          <% end %>
        <% else %>
          Start date not given
        <% end %>
        <%= course_subject.status %>
        <%= link_to "Finish", admin_supervisor_course_course_subject_path(current_supervisor.id, 
          @course.id, course_subject.id), method: :patch, class: "btn btn-large btn-primary" unless course_subject.done? %>
      </p>
    </td>
    <td>
      <ul class="tasks-sup">
        <% course_subject.course_subject_tasks.each do |course_subject_task| %>
        <li><%= course_subject_task.task.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>

<div class="row">
  <div class="span4 dashboard-sector">
    <h2> Supervisors (<%= @course.supervisors.count %>) </h2>
    <div class="command">
      <%= link_to "Edit", "#", method: :patch, class: "btn btn-large btn-primary" %>
    </div>
    <%= render "shared/show_user_sidebar", users: @course.supervisors, type: "supervisor" %>
  </div>
  <div class="span1"></div>
  <div class="span4 dashboard-sector">
    <h2> Trainees (<%= @course.users.choose_user_in_course(@course.id).count %>) </h2>
    <div class="command">
      <%= link_to "Edit", "#assign_trainee_modal", class: "btn btn-large btn-primary",
        data: {toggle: "modal"} %>
    </div>
    <%= render "shared/show_user_sidebar", users: @course.users.choose_user_in_course(@course.id), type: "user" %>
  </div>
</div>
<% if current_supervisor.in?(@course.supervisors) %>
  <div>
    <%= render "admin/shared/assign_trainees" %>
  </div>
<% end %>